---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-llvmlibc-restrict-system-libc-headers,-llvmlibc-callee-namespace,-llvmlibc-implementation-in-namespace,-*-avoid-c-arrays,-modernize-use-trailing-return-type,-misc-non-private-member-variables-in-classes,-misc-no-recursion,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-modernize-use-using,-llvm-include-order,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-cppcoreguidelines-macro-usage'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
