build/
dist-newstyle/
main
init.o
third_party/
*.egg-info/
*.so
*.pyc
result
*.o
.ghc.environment.*

.nixie
result
chapel/bin
chapel/src/FFI.chpl
python/lattice_symmetries/extracted_declarations.h
.envrc
haskell/lattice_symmetries_functions.h
result
result-*
